<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>StartPage</servlet-name>
        <servlet-class>com.example.Real_Estate_Transactions.StartPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartPage</servlet-name>
        <url-pattern>/real-estate-transactions</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Authorization</servlet-name>
        <servlet-class>com.example.Real_Estate_Transactions.Authorization</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authorization</servlet-name>
        <url-pattern>/Authorization</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>com.example.Real_Estate_Transactions.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonalRoom</servlet-name>
        <servlet-class>com.example.Real_Estate_Transactions.PersonalRoom</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonalRoom</servlet-name>
        <url-pattern>/PersonalRoom</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApartmentSellContract</servlet-name>
        <servlet-class>com.example.Real_Estate_Transactions.ApartmentSellContract</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApartmentSellContract</servlet-name>
        <url-pattern>/ApartmentSellContract</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ApartmentRegistration</servlet-name>
        <servlet-class>com.example.Real_Estate_Transactions.ApartmentRegistration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApartmentRegistration</servlet-name>
        <url-pattern>/ApartmentRegistration</url-pattern>
    </servlet-mapping>
</web-app>